<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbZwb" connectionString="Data Source=192.168.8.2;initial catalog=BarCode;user id=zwb;password=zwbzwbzwb"/>
  </connectionStrings>
  <appSettings>
    <!--excel模板目录-->
    <add key="template" value ="\Template\TestDataOfBarcodeSymbol.xlt"/>
    <!--excel保存目录-->
    <add key="saveDirector" value="SaveFile"/>
    <!--excel固定字段-->
    <add key="jsfhdj" value="≥1.5/06/670"/>
    <add key="jszcc" value="0.264 ～ 0.660"/>
    <add key="jscsdmyxx" value="厂商识别代码有效"/>
    <!--excel模板字段配置-->
  </appSettings>
</configuration>